* {
  box-sizing: border-box;
}

.strips {
  min-height: 12vh;
  text-align: center;
  overflow: hidden;
  color: white;
}
.strips .strip__content {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  text-decoration: none;
}
.strips .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(3) translate(0, 0);
          transform: skew(-30deg) scale(3) translate(0, 0);
  opacity: 0.1;
}
.strips .strip__content:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: skew(-30deg) scaleY(1) translate(0, 0);
          transform: skew(-30deg) scaleY(1) translate(0, 0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips .strip__inner-text {
  will-change: transform, opacity;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  width: 70%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.strips__strip--expanded {
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  z-index: 3;
  cursor: default;
}
@media screen and (max-width: 760px) {
  .strips__strip--expanded {
    min-height: 100vh;
  }
}
.strips__strip--expanded .strip__content:hover:before {
  -webkit-transform: skew(-30deg) scale(1) translate(0, 0);
          transform: skew(-30deg) scale(1) translate(0, 0);
  opacity: 0.05;
}
.strips__strip--expanded .strip__title {
  opacity: 0;
}
.strips__strip--expanded .strip__inner-text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.strip__title {
  display: block;
  margin: 0;
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 2.2vw;
  color: white;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
@media screen and (max-width: 760px) {
  .strip__title {
    font-size: 28px;
  }
}

.strip__close {
  position: absolute;
  right: 3vw;
  top: 3vw;
  opacity: 0;
  z-index: 10;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  transition-delay: 0.5s;
}
.strip__close--show {
  opacity: 1;
}

@-webkit-keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes strip1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes strip5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes strip5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

h1, h2 {
  font-weight: 300;
}

.fa {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 36px;
  margin: 0 0 16px;
}

/* Demo purposes */

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

.go:focus{
  background-color:#19A3FF;
}

#searching{
  font: 30px, 'PT Sans', serif;
  background-color: blue;
  text-align: center;
}

#paperName{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

ul:after{
  display:block;
  clear:both;
  content:"";
}

#keyword{
  font-size:23px;
}
#ref{
  font-size: 30px;
}

#table{
  font-size:30px;
}
#table > ul > li{
  width:49%;
  margin:0;
  display:flex;
  display:-webkit-flex;
  float:left;
}

#table > ul .tags {
  margin: 30px 0 0 0;
  width:47%;
  list-style: none;
  height:inherit;
  height: 100%;
  display: flex;
  overflow: hidden;
}

ul{
  padding:0 0 0px 0;
  display:inline;
  display:-webkit-flex;
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
  list-style:none;
}
ul li{
  padding: 0px 0px 0px 0px;
  width:45%;
  margin:0;
  display:-webkit-flex;
  float:left;
}

.tags {
  margin: 0px 0 0 0;
  display: inline-block;
  list-style: none;
  overflow: hidden;

}

.tags li {
  float: left;

}

input.tag_test {
  font-family: "Raleway", sans-serif;
  background: rgb(67, 138, 219);
  color: white;
  font-size: 13px;
}

.tag {
  font-family: "Raleway", sans-serif;
  background: rgb(67, 138, 219);
  border-radius: 8px 0 0 8px;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: 330;
  line-height: 20px;
  padding: 0 20px 0 20px;
  position: relative;
  margin: 0 10px 0px 10px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  content: '';
  height: 3px;
  left: 10px;
  border-radius: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(67, 138, 219);
  border-top: 10px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: rgb(13, 81, 145);
  color: white;
}

.tag:hover::after {

   border-left-color: rgb(13, 81, 145);
}

.collapsible {
  font-family: "Abel", sans-serif;
  font-size: 25px;
  background-color: white;
  color: #4d4d4d;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: white;
  color: #0066ff;
  //border: 1px solid #0066ff;
}

.collapsible:after {
  content: '\002B';
  color: #0066ff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

div.alignright {
	font-family: "Staatliches", sans-serif;
  font-size: 30px;
}

.active:after {
  content: "\2212";
}

.content {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f2f2f2;
}
p {
  font-family: "Abel", sans-serif;
  font-size: 23px;
}
p.tags {
  text-align: right;
}
p.detail {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  color: #4d4d4d;
}
.title {
    font-family: "Staatliches", sans-serif;
  font-size: 40px;
  float: left;
  height: 100%;
}
