
/* Demo purposes */

body{
  padding: 30px 30px 30px 30px
}

.go:focus{
  background-color:#19A3FF;
}

#searching{
  font: 30px, 'PT Sans', serif;
  margin: 10px;
  text-align: center;
}

#paperName{
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
ul:after{
  display:block;
  clear:both;
  content:"";
}

#keyword{
  font-size:30px;
}
#ref{
  font-size: 30px;
}

#table{
  font-size:30px;
}
#table > ul > li{
  width:49%;
  margin:0;
  display:flex;
  display:-webkit-flex;
  float:left;
}

#table > ul .tags {
  margin: 30px 0 0 0;
  width:47%;
  list-style: none;
  height:inherit;
  height: 100%;
  display: flex;
  overflow: hidden; 
}

ul{
  padding:0 0 30px 0;
  display:inline;
  display:-webkit-flex;
  flex-wrap:wrap;
  -webkit-flex-wrap:wrap;
  list-style:none;
}
ul li{
  padding: 10px 15px 10px 15px;
  width:45%;
  margin:0;
  display:-webkit-flex;
  float:left;
}

.tags {
  margin: 5px 0 0 0;
  display: inline-block;
  list-style: none;
  overflow: hidden; 
  
}

.tags li {
  float: left; 
  
}

.tag {
  background: rgb(67, 138, 219); 
  border-radius: 8px 0 0 8px;
  color: white;
  display: inline-block;
  height: 26px;
  font-size: 20px;
  font-weight: 350;
  line-height: 26px;
  padding: 0 20px 0 32px;
  position: relative;
  margin: 0 10px 20px 10px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  content: '';
  height: 6px;
  left: 10px;
  border-radius: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid rgb(67, 138, 219); 
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: rgb(13, 81, 145); 
  color: white;
}

.tag:hover::after {

   border-left-color: rgb(13, 81, 145); 
}

